@if (!string.IsNullOrEmpty(ResourcesMicroSiteSpecific.SocialMediaLinkFacebook)) {
    <div>
        <a target="_blank" href="@ResourcesMicroSiteSpecific.SocialMediaLinkFacebook">
            <img src="images/whitelabel/socialMedia/icon_facebook.svg" class="icon-socialmedia" />
        </a>
    </div>
}
@if (!string.IsNullOrEmpty(ResourcesMicroSiteSpecific.SocialMediaLinkTwitter)) {
    <div>
        <a target="_blank" href="@ResourcesMicroSiteSpecific.SocialMediaLinkTwitter">
            <img src="images/whitelabel/socialMedia/icon_twitter.svg" class="icon-socialmedia" />
        </a>
    </div>
}
@if (!string.IsNullOrEmpty(ResourcesMicroSiteSpecific.SocialMediaLinkInstagram)) {
    <div>
        <a target="_blank" href="@ResourcesMicroSiteSpecific.SocialMediaLinkInstagram">
            <img src="images/whitelabel/socialMedia/icon_instagram.svg" class="icon-socialmedia" />
        </a>
    </div>
}
@if (!string.IsNullOrEmpty(ResourcesMicroSiteSpecific.SocialMediaLinkPinterest))
{
    <div>
        <a target="_blank" href="@ResourcesMicroSiteSpecific.SocialMediaLinkPinterest">
            <img src="images/whitelabel/socialMedia/icon_pinterest.svg" class="icon-socialmedia" />
        </a>
    </div>
}
@if (!string.IsNullOrEmpty(ResourcesMicroSiteSpecific.SocialMediaLinkLinkedIn))
{
    <div>
        <a target="_blank" href="@ResourcesMicroSiteSpecific.SocialMediaLinkLinkedIn">
            <img src="images/whitelabel/socialMedia/icon_linkedin.svg" class="icon-socialmedia" />
        </a>
    </div>
}
@if (!string.IsNullOrEmpty(ResourcesMicroSiteSpecific.SocialMediaLinkYouTube))
{
    <div>
        <a target="_blank" href="@ResourcesMicroSiteSpecific.SocialMediaLinkYouTube">
            <img src="images/whitelabel/socialMedia/icon_youtube.svg" class="icon-socialmedia" />
        </a>
    </div>
}
